@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap");

:root {
  --primary: #3155e7;
  --primary-dark: #2045d6;
  --black: #010101;
  --gray-1: #788190;
  --gray-2: #d3d4db;
  --white: #ffffff;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--body);
}
.btn {
  border-radius: 8px;
}
.btn-primary,
.btn-outline-secondary {
  padding: 12px 20px;
}
.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: var(--primary-dark);
}

.btn-outline-secondary {
  border: 1px solid var(--gray-2);
  color: var(--black);
}
.btn-outline-secondary:hover {
  background-color: var(--gray-2);
  border: 1px solid var(--gray-2);
  color: var(--black);
}
.btn-outline-secondary:focus {
  background-color: var(--gray-2);
  border: 1px solid var(--gray-2);
  color: var(--black);
}
.navbar .btn-outline-secondary {
  border: 1px solid var(--gray-2);
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 10px 15px;
}
.navbar {
  padding: 32px 0;
  
}
.nav-link {
  margin-left: 40px;
  font-size: 15px;
  color: var(--gray-1);
}
.navbar-nav .nav-link.active {
  font-weight: bold;
  color: var(--black);
}
/* HERO SECTION*/
section.hero {
  font-weight: 800;
  font-size: 47px;
  line-height: 75px;
  color: var(--black);
  background-color: #8fa2c2;
}
.buttons {
  padding-top: 70px;
}
.buttons .btn {
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
}

/* SETUP */
section.setup {
  padding: 285px 0;
}

section.setup .text-header h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  color: var(--black);
  background-color: #2045d6;
}

section.setup .text-header p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-1);
  padding: 28px 0;
}
section.setup h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--black);
  padding-bottom: 20px;
 
}
section.setup .desc p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-2);
  max-width: 285px;
  margin: 0 auto;
}
section.information .text-information {
  padding: 135px 0;
}
section.information h5 {
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  color: var(--black);
}
section.information p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: var(--gray-1);
  padding-top: 20px;
}
section.information .info-1 {
  padding: 185px 0;
}
/* FOOTER */

footer {
  padding-top: 279px;
  margin-bottom: 44px;
  background-color: #76af9e;
}
footer a {
  font-weight: bold;
  font-size: 14px;
  color: var(--black);
  line-height: 18px;
}
footer .copy {
  margin-top: 32px;
  font-size: 14px;
  color: var(--gray-1);
  line-height: 17px;
  font-weight: 400;
}

@media (max-width: 576px) {
  .navbar {
    padding: 20px 0;
  }
  .nav-link {
    margin-left: 0;
  }
  section.hero img {
    padding-top: 2.5rem;
  }
  section.hero .text {
    font-weight: 500;
    font-size: 38px;
    line-height: 58px;
  }
  section.hero,
  section.setup,
  section.information {
    text-align: center;
  }
  .buttons .btn {
    display: block;
    margin: 1rem 0;
  }
  .buttons .ms-3 {
    margin-left: 0 !important;
  }
  section.setup {
    padding: 50px 0;
  }
  footer {
    padding-top: 50px;
    margin-bottom: 44px;
  }
}
